* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: plum;
}

#main {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.favorite {
    margin: 2px;
    min-width: 30vw;
    background-color: lightskyblue;
    padding: 5px;
}

.selected {
    background-color: lightgoldenrodyellow;
}